
/* 
colors in logo
#FF5757
#8C52FF
#CB6CE6

background colors
#2b2c38
1c1d25


*/


body {
    font-family: 'Poppins', sans serif;
}
section {
    height: auto;
    background-color: white;

}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color:white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: #2b2c38;
    align-items: flex-start;

}




.hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
}



ul {
    display: none;
}

ul.show {
    display: block;
    list-style-type: none;
    font-size: 20px;
}

li {

    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 20px;

}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;

}

a {
    text-decoration: none;
    color: white;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: flex-end;

}

.hero-text {
    margin-left: 40px;
    margin-bottom: 20px;

}

.button {
    width: auto;
    max-width: 150px;
    height: auto;
    background-color: #FF5757;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-family: 'Poppins', sans serif;
}

.button:hover {
    background-color: #8C52FF;
}

.button:active {
    background-color: darkgrey;
    color: grey;
}


.socials {
    margin: 10px;
}

.logo {

    width: 100px;
    height: 100px;
    margin-left: 20px;

}


.pic {
    display: none;
    margin-bottom: 20px;
}

.pic-alt {
    width: 250px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 200px;
    border-radius: 50%;
    margin: 10px;

}

.headshot-container {
    display: flex;
    align-items: center;
}

.information {
    margin-left: 20px;
}


.project-container {
    display: flex;
    flex-wrap: wrap ;
}

.project-card {
    width: 300px;
    height: 500px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px grey;
}

.project-image {
    width: 200px;
    margin-top: 25px;
    border-radius: 50%;
    border-style: solid;
    border-color: #8C52FF;
    border-width: 10px;

}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #8C52FF ;
    margin-bottom: 10px;
    font-weight: 500;

}



.courriel {
    font-family: 'Poppins', sans serif;
    font-size: 15px;
    max-width: 200px;
    margin: 5px;

}

.message {
    font-family: 'Poppins', sans serif;
    font-size: 15px;
    height: 100px;
    max-width: 200px;
    margin: 5px;

}

form {
    font-family: 'Poppins', sans serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank {
    font-size: 40px;
    margin-left: 40px;
    padding: 100px;
}

/* X-SMALL devices */
@media only screen and (min-width: 600px) {

    h1 {
        font-size: 60px;

    }


    .headshot {
        width: 250px;
    }




}
/* small devices */
@media only screen and (min-width: 768px) {

    .pic-alt {
        width: 300px;
    }

    
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #1c1d25;
        flex-direction: row;
    }

    .navList {
        display: flex;
        flex-direction: row;

    }

    .hamburger {
        display: none;
       
    }


    ul {
        display: flex;
        list-style-type: none;
        width: 700px;
        justify-content: space-around;
        font-size: 30px;
    }
    
    ul.show {
        display: block;
    }


    .project-container {
        display: flex;
        justify-content: space-around;
    
    }

}
/* medium devices */
/* @media only screen and (max-width: 992px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;

    }

    ul {
        display: none;
        background-color: #2b2c38;
    }

    ul.show {
        display: block;
    }
    

    .logo {
        display: none;
    }


    .project-container {
        display: flex;
        flex-wrap: wrap ;
    }

}
 */

@media only screen and (min-width: 992px) {

    .pic-alt {
        display: none;
    }

    .pic {
        display: block;
        width: 400px;
    }


}
@media only screen and (min-width: 1200px) {

    .pic {
        width: 500px;
        margin-bottom: 20px;
    }

}



